body{
  margin: 0px;
  
  background-color: white;
  
}
.nav ul {
  list-style-type: none;
  margin: 0;
 /* padding-right:60px;*/
 padding-left: 40px;
 font-size: 20px;
  overflow: hidden;
  background-color: white;

}
  
.nav li {
  float: left;

}
.nav h3{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.nav li a {
  display: block;  
  text-align: center; 
  padding: 5px 30px;
  padding-left: 60px; 

  color: #512da8;
  text-decoration: none;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}

.nav li a:hover:not(.active) {
  color: #304ffe;
  /*opacity: 0.5;*/ 
}

.info{
  margin-left: 8%;
  margin-right: 8%;
}
.info h2{
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  color: #7B1FA2;
}
.info p{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin-top: 5px;
  text-align: justify;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
}

.left{
  width: 50%;
}
.left img{
  padding-right: 25px;
  padding-left: 25px;
  float: left;
  height: 280px;
  width: 478px;

}
.right{
  width: 50%;
  /*float: center;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
  display: none;
}

.right p{
  font-family: 'Montserrat', sans-serif;
}

.flex-container{
  display: flex;
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  flex-flow: row wrap;
   justify-content: space-around;
}

.flex-container h3{
  cursor: pointer;
}

.foot{
  background-color: #212121;
  padding: 10px;
  color: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  bottom: 0;
  text-transform: capitalize;
  margin-top: 20px;
}